# https://docs.docker.com/compose/environment-variables/#the-env-file
services:
  {{ service }}:
    image: {{ img_id }}
    user: root
    tty: true
    stdin_open: true
    network_mode: host
    privileged: false
    cap_add:
      - NET_ADMIN # Be able to create network devices inside the container
    {% if use_host_nvidia_driver %}
    runtime: nvidia
    # Ref: https://docs.nvidia.com/deeplearning/frameworks/user-guide/index.html#setincshmem
    shm_size: 2g
    {% endif %}
    volumes:
      # +------------------+
      # | Project mappings |
      # +------------------+
      - {{ workspace_dir }}:{{ img_workspace_dir}}
      # +------------------+
      # | Dataset mappings |
      # +------------------+
      #- ~/datasets:{{ img_datasets_dir }}
      # +-------------------+
      # | Graphics mappings |
      # +-------------------+
      - /tmp/.cookies.xauth:/tmp/.cookies.xauth:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # +-----------------+
      # | Custom mappings |
      # +-----------------+
      # Folders
      - ~/.ssh:{{ img_ssh_dir }}
      # Files
      {% if use_git %}
      - {{ gitconfig_file }}:{{ img_gitconfig_file }}
      {% endif %}
    devices:
      - /dev/bus/usb:/dev/bus/usb
      {% if not use_host_nvidia_driver %}
      - /dev/dri:/dev/dri
      {% endif %}
    #device_cgroup_rules:
      #- "c 189:* rmw"
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
      - TERM=$TERM
      - XAUTHORITY=/tmp/.cookies.xauth
      {% if use_host_nvidia_driver %}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      {% endif %}
      - EXT_UID={{ ext_uid }}
      - EXT_UPGID={{ ext_upgid }}
