{
    "dockerComposeFile": "docker-compose.yaml",
    "service": "{{ service }}",
    "shutdownAction": "stopCompose",
    "remoteUser": "{{ img_user }}",
    "workspaceFolder": "{{ img_workspace_dir }}",
    "customizations": {
        "vscode": {
            "extensions": [
                "cheshirekow.cmake-format",
                "cschlosser.doxdocgen",
                "davidanson.vscode-markdownlint",
                "dotjoshjohnson.xml",
                "foxundermoon.shell-format",
                "ms-azuretools.vscode-docker",
                "ms-iot.vscode-ros",
                "ms-python.black-formatter",
                "ms-python.flake8",
                "ms-python.isort",
                "ms-python.python",
                "ms-python.vscode-pylance",
                "ms-vscode.cmake-tools",
                "ms-vscode.cpptools",
                "redhat.vscode-yaml",
                "ryzngard.vscode-header-source"
            ]
        }
    }
}