{
    "dockerComposeFile": "docker-compose.yaml",
    "service": "{{ service }}",
    "shutdownAction": "stopCompose",
    "remoteUser": "{{ img_user }}",
    "workspaceFolder": "{{ img_workspace_dir }}",
    "customizations": {
        "vscode": {
            "extensions": [
                "charliermarsh.ruff",
                "cheshirekow.cmake-format",
                "cschlosser.doxdocgen",
                "morningfrog.urdf-visualizer",
                "ms-python.python",
                "ms-python.vscode-pylance",
                "ms-vscode.cmake-tools",
                "ms-vscode.cpptools",
                "ranch-hand-robotics.rde-pack",
                "redhat.vscode-yaml",
                "tamasfe.even-better-toml"
            ]
        }
    }
}